<!-- CONTENT START -->
<body class="about">
	<header>
		<h1><a href="./"><img src="images/title.png" title="beatmaniaIIDX全曲表ver.F IIDXSmartData" alt="beatmaniaIIDX全曲表ver.F IIDXSmartData" width="247" height="58" /></a></h1>
	</header>
	<article>
		<h1>ABOUT</h1>
		<section>
			<h2>このサイトについて</h2>
			<p class="smallsection">
				「beatmaniaIIDX全曲表ver.F IIDXSmartData」は、株式会社コナミデジタルエンタテイメントが開発・販売しているゲーム「beatmania IIDX」シリーズの楽曲データを一覧できる非公式サイトです。(個人による運営で企業・団体とは関係ありません)
			</p>
			<section>
				<h3>参考サイト様(敬称略)</h3>
				<ul>
					<li><a href="http://textage.cc/" target="_blank">TexTage</a></li>
					<li><a href="http://voiddd.com/wiki/" target="_blank">BEMANIwiki</a></li>
					<li><a href="http://bemaniwiki.com/" target="_blank">BEMANIWiki 2nd</a></li>
					<li><a href="http://iidx.cc/" target="_blank">いんふぉめ</a>(*)</li>
					<li><a href="http://www.zakugiri.com/ongi/" target="_blank">音戯秘法</a></li>
					<li><a href="http://www1.dnet.gr.jp/~hk5061/" target="_blank">Hong Kong 5061</a></li>
					<li><a href="http://www.b-mok.com/" target="_blank">DMX syndrome</a>(曲表は現在無し)</li>
					<li><a href="http://www.netlaputa.ne.jp/~maa/beatmania/" target="_blank">MAA's HOMEPAGE</a>(*)</li>
					<li><a href="http://www2c.biglobe.ne.jp/~ninc3nif/otogee/" target="_blank">おとげえ。</a></li>
					<li><a href="http://members.at.infoseek.co.jp/lv99ex/IIDX_CS/index.html" target="_blank">10氏によるCS版曲リスト</a>(*)</li>
				</ul>
				<p>以上のサイト様を参考に制作させて頂きました。この場を借りて感謝致します。(*印はリンク切れになっています)</p>
			</section>
			<section>
				<h3>History</h3>
				<p>初期の頃の話、設立目的などについてはザ・インタビューズにて回答した<a href="http://theinterviews.jp/sacrifs/249087">こちら</a>(@sacrifs)と<a href="http://theinterviews.jp/pgkykztan/233602">こちら</a>(@PGK)の記事を御覧ください。</p>
			</section>
			<section>
				<h3>データの利用について</h3>
				<p>当曲表からのデータの転載は自由に行なっていただいてかまいません。画像やJavaScriptファイル等への直リンクはご遠慮ください。</p>
			</section>
			<section>
				<h3>SmartDataAPI</h3>
				<p>IIDX全曲表のデータをより簡単に利用できるようJSON,XML形式でのデータの配布を予定しています。仕様が確定し公開可能になった時点で利用方法について明記します。しばらくお待ちください。</p>
			</section>
		</section>
		<section>
			<h2>Twitterについて</h2>
			<p class="smallsection">
				IIDX全曲表のTwitterアカウントはこちらになります。<br />
				→<a href="https://twitter.com/iidxsd_bot">IIDX全曲表管理bot</a>
			</p>
			<p class="smallsection">更新・修正についてこちらのアカウントから発信しています。修正依頼等ありましたら、こちらのアカウントへリプライいただけると助かります。</p>
		</section>
		<section>
			<h2>管理人について</h2>
			<section>
				<h3>PGK(<a href="https://twitter.com/pijiikesaaaaaan" target="_blank">@pijiikesaaaaaan</a>)</h3>
				<p>Direction, Data, etc...</p>
				<p><a href="http://www.rebirthbeatbox.net/rbb/">REBiRTH BEAT BOX</a>管理人。IIDX全曲表原案作成。<a href="http://www.rebirthbeatbox.net/rbb/xen/bm_xen.php">BEMANI全曲表</a>など制作中。</p>
				<p><a href="http://www.rebirthbeatbox.net/rbb/"><img src="http://www.rebirthbeatbox.net/rbb/image/banner.gif" alt="REBiRTH BEAT BOX" width="100" height="40"/></a></p>
			</section>
			<section>
				<h3>sacrifs(<a href="https://twitter.com/sacrifs" target="_blank">@sacrifs</a>)</h3>
				<p>Direction, Design, Program, Data, etc...</p>
				<p><a href="http://sift-swift.net/">_sift-swift</a>管理人。エイプリルフールの時変な曲表が表示されるのはだいたいこいつのせい。</p>
				<p><a href="http://sift-swift.net/"><img src="http://sift-swift.net/wp-content/themes/basictechnology/img/banner.png" alt="_sift-swift" width="100" height="20"></a></p>
			</section>
		</section>
	</article>
<!-- CONTENT END -->
