<!-- CONTENT START -->
<body class="howtouse">
	<header>
		<h1><a href="./"><img src="images/title.png" title="beatmaniaIIDX全曲表ver.F IIDXSmartData" alt="beatmaniaIIDX全曲表ver.F IIDXSmartData" width="247" height="58" /></a></h1>
	</header>
	<article>
		<h1>HOW TO USE</h1>
		<nav>
			<ul>
				<li><a href="howtouse#htu_pc">PC</a></li>
				<li><a href="howtouse#htu_smt">SmartPhone, Tablet</a></li>
				<li><a href="howtouse#htu_mob">MobilePhone</a></li>
			</ul>
		</nav>
		<section>
			<h2><a id="htu_pc" name="htu_pc">PC</a></h2>
			<section>
				<h3>TOPページ</h3>
				<section>
					<h4>各バージョンの曲表</h4>
					<p>
						TOPページでは各バージョンの名称が一覧として並んでいます。各バージョンのタイルをマウスオーバーすると、さらに[new][all][revival][delete]の4つのタイルが表示されます(該当曲が1曲もない場合は表示されません)。それぞれ、[new→新曲][all→全曲][revival→復活曲][delete→削除曲]となります。
					</p>
				</section>
				<section>
					<h4>検索について</h4>
					<p>検索は右上の検索ボックスから行います。検索したい単語を入力し、検索ボタンを押してください。</p>
				</section>
			</section>
			<section>
				<h3>曲表ページ</h3>
				<section>
					<h4>カテゴリオープン/クローズ</h4>
					<p>曲表のバージョン名など、表の区切り部分はカテゴリとして動作し、クリックすることで、表示非表示を切り替えられます。</p>
				</section>
				<section>
					<h4>ソートについて</h4>
					<p>曲表ページの上部にある[↑][↓]のボタンを押すと、曲表のソートができます。[↑]は昇順(..1,2,3..A,B,...)、[↓]は降順(..Z,Y,X,..2,1,..)になります。</p>
				</section>
				<section>
					<h4>曲表設定について</h4>
					<p>右上にある[SETTING]ボタンを押すと、曲表設定画面を開きます。設定画面からは以下の設定ができます。開いている状態で[SETTING]ボタンを押すと設定画面を閉じます。</p>
					<dl>
						<dt>SHOW COLUMN</dt>
						<dd>表示列を制限できます。チェックが入っている項目だけ表示します。チェックを付ける/外すとその場で表が変更されます。またブラウザのCookieが有効になっている場合、設定は保存されます。</dd>
						<dt>オススメ/全部選択/全部解除/sp_mode/dp_mode</dt>
						<dd>表示列のチェックボックスを一度に変更できます。</dd>
						<dt>SKIN</dt>
						<dd>表示スキンの設定ができます。</dd>
					</dl>
				</section>
				<section>
					<h4>曲詳細情報について</h4>
					<p>曲名の左についている[詳]ボタンを押すと、該当曲の詳細情報が見れます。表示領域が狭い場合は別ページにて表示しますが、通常は曲表にかぶさる形で表示します。</p>
				</section>
			</section>
		</section>
		<section>
			<h2><a id="htu_smt" name="htu_smt">SmartPhone,Tablet</a></h2>
			<p class="smallsection">
				基本的な使用方法はPCに準じます。端末表示領域にあわせて、最初の表示を決定しています。一部、マウスオーバーで動作するものについては、タッチにて対応しています(TOPページの曲表選択時など)。また、こちらの2次元バーコードからスマホで表示できます。
				<img id="barcode" src="images/barcode.png" alt="バーコード" width="148" height="148" />
			</p>
		</section>
		<section>
			<h2><a id="htu_mob" name="htu_mob">MobilePhone</a></h2>
			<p class="smallsection">
				現在、携帯電話への対応予定はありません。PC、スマートフォン、タブレットよりご利用ください。<a href="http://bm2dx.s41.xrea.com/iidxAMD/">以前のversion</a>もしばらく利用できます。
			</p>
		</section>
	</article>
<!-- CONTENT END -->