<!-- CONTENT START -->
<body class="link">
	<header>
		<h1><a href="./"><img src="images/title.png" title="beatmaniaIIDX全曲表ver.F IIDXSmartData" alt="beatmaniaIIDX全曲表ver.F IIDXSmartData" width="247" height="58" /></a></h1>
	</header>
	<article>
		<h1>LINK</h1>
		<section>
			<h2>管理人Webサイト</h2>
			<ul>
				<li><a href="http://sift-swift.net/">_sift-swift</a> | <a href="http://labs.spiffield.net/">spiffieldLabs</a> : sacrifs</li>
				<li><a href="http://www.rebirthbeatbox.net/rbb/">REBiRTH BEAT BOX</a> : PGK</li>
			</ul>
		</section>
		<section>
			<h2>便利サイト/ツール</h2>
			<ul>
				<li><a href="http://textage.cc/">TexTage</a>(IIDX譜面など)</li>
				<li><a href="http://bemaniwiki.com/">BEMANIWiki 2nd</a>(BEMANI全般)</li>
				<li><a href="http://atomic--age.net/">AtomicAge.net</a>(BEMANI全般)</li>
				<li><a href="http://2dera.net/iidx_map/">beatmania IIDX ゲームセンターマップ</a>(ゲーセン場所確認。<a href="http://2dera.net/iidx_map/i/">スマホ版</a>)</li>
				<li><a href="http://nobuyukim.cs.land.to/">nobuyukimの物置</a>(IIDX ScoreViewerなど)</li>
				<li><a href="https://play.google.com/store/apps/details?id=com.rooandqoo.iidxclear&amp;hl=ja">IIDX Clear Manager</a>(IIDXクリアランプ管理Androidアプリ)</li>
				<li><a href="http://saryou.jp/iidxpr/">BeatmaniaIIDX PLAY RECORD</a>(IIDXスコア管理)</li>
				<li><a href="http://fcphp.jp/">FCPHP Portal</a>(IIDXフルコンボ管理)</li>
			</ul>
		</section>
	</article>
<!-- CONTENT END -->
